<body>

  <div>
    <form method="post" action="/signup">

      <div>
        <label for="">Username</label>
        <input type="text" name="username" id="" />
      </div>
      <div>
        <label for="">Password</label>
        <input type="text" name="password" id="" />
      </div>
      <div>
        <label for="">Email</label>
        <input type="text" name="email" id="">
      </div>
      <div><button type="submit">Login</button></div>
    </form>
  </div>

</body>